<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You!</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="" class="logo" />
      <h1>Thank You!</h1>
      <h2>Thank you for rating your experience. We hope to see you soon!</h2>
    </div>
  </body>
</html>
